.web-socket-container{
  margin: auto;
  text-align: center;
  font-size: 150%;
  font-family: "Rubic", sans-serif;
}

.like-button, 
.dislike-button{
  margin: 10px 30px;

}

.like-button:hover, 
.dislike-button:hover{
 cursor: pointer;
  
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}