
.collection {
  width: 280px;
  height: 450px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 15000px) {
  .collection {
    margin-bottom: 30px;
  }
}

.collection img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.collection p {
  text-decoration: none;
  color: #000000;
  font-family: "Stick No Bills", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 2px;
}