@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.hexagon-gallery {
  margin: auto;
  margin-top: 8px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 170px;
  grid-gap: 5px;
  padding-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .hexagon-gallery {
    margin: 2%;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .hexagon-gallery {
    margin: 2%;
  }
}

.hex-gallery-title p {
  color: #000000;
  margin-left: 40%;
  padding-top: 7px;
  white-space: nowrap;
  font-size: 40px;
  font-family: "Rubic", sans-serif;
  font-weight: bolder;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .hex-gallery-title p {
    font-size: 25px;
    margin-top: 7px;
    margin-left: 10%;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .hex-gallery-title p {
    font-size: 25px;
    margin-left: 30%;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .hex-gallery-title p {
    font-size: 30px;
    margin-left: 33%;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .hex-gallery-title p {
    font-size: 30px;
    margin-left: 40%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .hex-gallery-title p {
    font-size: 30px;
    margin-left: 50%;
  }
}