
.search-container {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .search-container {
    height: 9px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .search-container {
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .search-container {
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.search {
  transition: 0.8s;
  margin-left: 200px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .search {
    transition: 0.8s;
    margin-left: 80px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .search {
    transition: 0.8s;
    margin-left: 90px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .search {
    transition: 0.8s;
    margin-left: 90px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .search {
    transition: 0.8s;
    margin-left: 100px;
  }
}

.search.is-clicked {
  margin-left: 0px;
}
.search.is-clicked .search-input {
  width: 200px;
  margin-left: 0px;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .search.is-clicked .search-input {
    width: 80px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .search.is-clicked .search-input {
    width: 80px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .search.is-clicked .search-input {
    width: 90px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .search.is-clicked .search-input {
    width: 90px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .search.is-clicked .search-input {
    width: 100px;
  }
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .search-container .search-input {
    font-size: 10px;
  }
}

.search-container .search-btn .fas {
  text-decoration: none;
  color: #000000;
}

.fa-search{
  text-decoration: none;
  color: #000000;
}

.active:hover{
    color: rgb(72, 102, 125);
}