@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.welcome-header {
  background-image: url("party.png");
  height: 800px;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .welcome-header {
    background-size: 100% 300px;
    height: 300px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .welcome-header {
    background-size: 100% 400px;
    height: 400px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .welcome-header {
    background-size: 100% 400px;
    height: 400px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .welcome-header {
    background-size: 100% 450px;
    height: 450px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .welcome-header {
    background-size: 100% 500px;
    height: 500px;
  }
}





.welcome-text {
  position: absolute;
  margin-top: 150px;
  margin-left: 70px;
  color: #000000;
  font-size: 58px;
  font-weight: 800;
  font-family: "Stick No Bills", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .welcome-text {
    font-size: 25px;
    margin: 5%;
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .welcome-text {
    font-size: 40px;
    margin: 7%;
    margin-top: 15%;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .welcome-text {
    font-size: 50px;
    margin: 5%;
    margin-top: 10%;
    text-align: center;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .welcome-text {
    font-size: 50px;
    margin: 5%;
    margin-top: 10%;
    text-align: center;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .welcome-text {
    font-size: 50px;
    margin: 10%;
    margin-top: 10%;
    text-align: center;
  }
}